./Design Pattern de Criação/.vs
/Design Pattern de Criação/Builder/bin/Debug/netcoreapp3.1
/Design Pattern de Criação/Builder/obj/Debug/netcoreapp3.1
/Design Pattern de Criação/Factory Method/bin/Debug/netcoreapp3.1
